# Node modules
node_modules/

# Entornos
.env
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db
*.tmp
*.temp

# Logs
*.log
npm-debug.log*

# Bases de datos SQLite
*.sqlite
*.sqlite3

# Archivos de configuración de nodemon
nodemon.json

# Archivos de Sequelize (en caso de usar migraciones)
migrations/
seeders/

# Compilación y caché
dist/
build/
.vite/
.cache/
coverage/
*.eslintcache

# IDEs y editores
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Otros
yarn.lock
pnpm-lock.yaml
.vite.svg